@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/sofia-pro');

@font-face {
    font-family: 'Sofia Sans';
    src: url('./fonts/SofiaSans[wdth\,wght].woff2') format('woff2');
}

body {
    margin: 0;
}

* {
    font-family: 'Sofia Sans', 'helvetica', 'arial', 'sans-serif';
    font-weight: 400;
    color: var(--text-color-dark);
}

:root {
    --base-color: #EFF0F8;
    --side-color: #232532;
    --side-text-color: #595A74;
    --text-color-dark: #272848d3;
    --supp-color: #FFFFFF;
    --acce-color-violet-light: #9698E2;
    --acce-color-violet-darker: #5556A7;
    --acce-color-red-light: #FF710;
    --acce-color-red-darker: #734242;
}

container {
    margin: 0;
    padding: min(5%, 2rem);
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
}




container>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 500px;
    gap: 2rem;
    flex-basis: 100%;
}

container>ul>li {
    background-color: var(--supp-color);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-areas:
        'image image'
        '. .';
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

container>ul>li>.key {
    font-size: .7rem;
    font-weight: 300;

}

container>ul>li>.key>.value {
    font-size: 1rem;
    font-weight: 500;

}

container>ul>li>img {
    height: 100%;
    width: 100%;
    grid-area: image;
    object-fit: cover;
    border-radius: .6rem;
}

form {
    position: fixed;
    inset: 0 0 0 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.35);
    margin: 0;
    padding: 0;
    z-index: -1;
    opacity: 0;
    -webkit-opacity: 0.5;
    transition: all 0.2s ease;
}

form * {}

.visible {
    z-index: 1;
    opacity: 1;

}

form>ul {
    list-style: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--supp-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 2px 4px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .05), 0 8px 16px rgba(0, 0, 0, .05), 0 16px 32px rgba(0, 0, 0, .05), 0 32px 64px rgba(0, 0, 0, .05);
}

form>ul>li {
    margin: 1rem;

}

form>ul>li>label {
    font-size: .7rem;
}

form>ul input:not([type='radio']) {
    box-sizing: border-box;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: .7rem;
    font-family: 'Sofia Sans', 'helvetica', 'arial', 'sans-serif';
    border: none;
    font-size: 1rem;
    background-color: var(--base-color);
    border-radius: 1rem;
    ;
}

form>ul>nav {
    width: 600px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    position: relative;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}